process {
    executor = 'slurm'
    clusterOptions = '--auks=yes'
    queue = 'cpu'
  resourceLimits = [
    cpus: 32,
    memory: 700.GB,
    time: 96.h
  ]
  
  withLabel:process_high {
    cpus = { 32 }
    memory = { 200.GB * task.attempt }
    time = { 96.h }
  }
  
  withLabel:process_medium {
    cpus = { 12 * task.attempt }
    memory = { 100.GB * task.attempt }
    time = { 96.h }
  }
}
